@import '_reset.scss';

html {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.link {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #47777B;
  color: #226C81;
  font-weight: 500;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background: #47777B;
    color: #fff;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  &__title {
    font-size: 40px;
    color: #000;
    opacity: 0.8;
    font-weight: 500;
  }
}

.link-m {
  margin-top: 34px;
  display: none;
}

.carousel {
  overflow: hidden;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-right: 40px;
    width: calc(100% / 3 - 80px / 3);
    flex-shrink: 0;
  }
} 

.item {
  &__subtitle {
    color: #000;
    opacity: 0.4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
  }
  &__title {
    display: block;
    color: #1F5869;
    font-weight: 500;
    font-size: 24px;
    padding-top: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  
}

.counter {
  font-size: 16px;
  color: #000;

  &__separator {
    opacity: 0.4;
    margin: 0 6px;
  }
  &__total {
    opacity: 0.4;
  }
}

.controls {
  font-size: 24px;

  &__item {
    margin-left: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .carousel {
    &__item {
      margin-right: 24px;
      width: calc(100% / 2 - 24px / 2);
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    &__title {
      font-size: 24px;
    }
    &__link {
      display: none;
    }
  }
  .link-m {
    display: block;
  }
  .carousel {
    &__item {
      margin-right: 0;
      width: 100%;
    }
  }
}